body{
background-color: background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}
#click{
    background-color:black;
    height: 50%;
}
a{
    text-decoration: none;
    color: white;
}
button{
    background-color: #004562;
    border-radius: 30px;
    height: 50px;
    padding: 20px;
    border-style: none;
    margin-top: 70px;
    margin-left: 45%;
}